.cardsPage {
  width: 1008px;
  min-height: 583px;
  margin: 30px auto;
  border-radius: 8px;
  background-color: #FEFEFF;
  padding: 19px 24px 24px;

  .title {
    margin-bottom: 20px;
  }

  .block {
    margin-bottom: 24px;
  }
}
