.pack {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 15px;

  &:nth-child(2n) {
    background-color: #F8F7FD;
  }

  .name {
    width: 150px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    word-wrap: break-word;
  }

  .cardsCount {
    width: 80px;
    text-align: center;
  }

  .updated {
    width: 110px;
    text-align: center;
  }

  .created {
    width: 140px;
    text-align: center;
    word-wrap: break-word;
  }

  .buttons {
    width: 136px;
    display: flex;
    justify-content: center;

    button {
      width: 48px;
      height: 24px;
      color: #21268F;
      margin-left: 6px;
      border: none;
      border-radius: 2px;
      background-color: #D7D8EF;
      cursor: pointer;
    }

    .dellBtn {
      background-color: #F1453D;;
      color: white;
    }
  }
}
