.pack {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;

  &:nth-child(2n) {
    background-color: #F8F7FD;
  }

  .name {
    width: 120px;
    max-height: 48px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardsCount {
    width: 80px;
    text-align: center;
  }

  .updated {
    width: 110px;
    text-align: center;
  }

  .created {
    width: 140px;
    text-align: center;
    word-wrap: break-word;
  }

  .buttons {
    width: 146px;
    display: flex;
    justify-content: center;

    button {
      width: 48px;
      height: 24px;
      color: #21268F;
      margin-left: 6px;
      border: none;
      border-radius: 2px;
      background-color: #D7D8EF;
      cursor: pointer;
    }

    .dellBtn {
      background-color: #F1453D;;
      color: white;
    }

    .learnBtnWrapper {
      width: 48px;
      height: 24px;
      background-color: #D7D8EF;
      margin-left: 6px;
      border-radius: 2px;
      display: flex;
      justify-content: center;


      .learnBtn {
        text-decoration: none;
        color: #21268F;
        font-size: 13.3px;
        padding: 4px 8px;
        font-family: "Arial";
      }
    }
  }
}
