@import "../../../../common/styles/sass/variables";
.editPackModal {
  width: 395px;
  background-color: #fff;
  padding: 15px 24px 24px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #2D2E46;
      font-family: $firstFont;
    }

    img {
      cursor: pointer;
    }
  }

  .inp {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #24254A;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    .cancelBtn {
      width: 124px;
      height: 36px;
      background: #D7D8EF;
      border-radius: 30px;
      color: #21268F;
      cursor: pointer;
      border: none;

      &:hover {
        background: rgba(220, 220, 240, 1);
        border: 1px solid;
      }
    }

    .saveBtn {
      width: 124px;
      height: 36px;
      background: #21268F;
      box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      color: white;
      cursor: pointer;
      border: none;

      &:hover {
        border: 1px solid;
      }
    }
  }
}