.addCardModal {
  width: 395px;
  background-color: #fff;
  padding: 15px 24px 24px;

  .title {
    margin-bottom: 20px;
  }

  .inp {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #24254A;
    margin-bottom: 20px;
  }
}